.bg-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: white;
  height: 100vh;
  background-image: linear-gradient(to right, #1d976c, #93f9b9);
  padding: 40px;
}
.search-ip {
  background-color: transparent;
  border: 1px solid white;
  border-radius: 8px;
  height: 40px;
  width: 400px;
}
.para {
  background-color: white;
  padding: 5px;
  border-radius: 5px;
  color: #1d976c;
  font-weight: bold;
}
